html {
    font-family: 'Playfair Display', serif;
    animation-name: background-color;
    animation-duration: 7000ms;
    animation-iteration-count: infinite;
}

@keyframes background-color {
    0% {
      background: #FFCCCC;
    }
    
    50% {
        background: #CCFFFF;
    }
    75% {
        background: rgba(184, 231, 231, 0.863);
    }
    
    100% {
        background: #FFCCCC;
    }
}
nav{
    display: flex;
    flex-direction: row-reverse;
    width: 80%;   

}

body {
    width: 70%;
    margin: 0px auto;
    background-color: cornsilk;
    height: 100%;
    border-radius: 5%;
    border-top-right-radius: 0%;
    border-top-left-radius: 0%;
    border: solid 1px;
    box-shadow: 10px 10px 5px #aaaaaa;
}


header {
    width: 60%;
    height: 20%;
    margin: 0px auto;
    background-color: brown;
    border-radius: 10%;
    box-shadow: 10px 10px 5px #aaaaaa;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}
img {
    padding: 0%;   
    max-width: 150px;
    max-height: 150px;
    margin: 0px auto;
    border-radius: 100%;
    padding: 5%;
}

h1 {
    color: blue;
    margin: 0px auto;
    text-align: center;
}

main {
    width: 80%;
    margin: 0 auto;
}
