html {
    font-family: 'Tinos', serif;
    color: black;
}
body {
    background-image: url("/images/baclground.jpg"); 
    color: black;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    width: 100%;
    height: 100%;
    font-family: 'Mallanna', sans-serif;
}

main.homepage {
    display: grid;
    float: right;
    grid-template-columns: 150px 1fr 150px; 
    grid-template-rows: auto 1fr auto; 
    line-height: 0;
    position: relative;
    white-space: nowrap;
    top: 35vh;
    grid-row-gap: 0;
    right: 15vw;
}
.name {
    grid-column: span 3;
    font-size: 5vh ;
    text-align: left;
    align-self: end;
    justify-self: end;
}
.role {
    grid-column: span 3; 
    font-size: 4.2vh;
    align-self: start;
}  
#languages {
    text-align: center;
    font-size: 30px;
    justify-self: left;
    align-self: end;
    border-radius: 25%;
    background-color:#2891C8;
    padding: 10px;
    margin-left: 100px;
    width: 100px;
}
    

.about {
    grid-column: span 1;  
    align-self: end;
    justify-self: left;
    font-size: 4vh; 
    line-height: 0%;
    position: relative;
    right: 0.5vh;
    top: 3vh;
}
.projects {
    grid-column: span 1; 
    align-self: end;
    justify-self: center;
    font-size: 4vh;
    position: relative;
    right: 1.5vh;
    top: 3vh;
}
.contact {
    grid-column: span 1; 
    align-self: end;
    justify-self: left; 
    font-size: 4vh;
    justify-self: center;
    margin: 0;
    position: relative;
    right: 3.1vh;
    top: 3vh;
}
i {
    color: teal;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: teal;
}
.top-nav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}
.top-nav a {
    float: none;
    padding: 2vw 4vw;
    font-size: 3.5vh;
}
.bio {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 45vw;
    position: relative;
    top: 8vw;
    left: 50vw;

}
.my-face {
    align-self: center;
}
img {
    border: solid 5px;
    border-color: teal;
    border-radius: 100%; 
    width: 13vw;

}
.about-title {
    font-size: 2.5vh;
}
.background {
    font-size: 1.8vw;
    text-align: left;
}
.external:hover {
    text-decoration: underline;
}
.projects-grid {
    display: grid;
    float: right;
    grid-template-columns: 150px 1fr 1fr 150px; 
    grid-template-rows: auto 1fr 1fr auto; 
    position: relative;
    white-space: nowrap;
    top: 15vh;
    grid-row-gap: 2vh;
    right: 8vw;
    line-height: 0;
    height: 45vw;
    width: 40vw;
}
.projects-title {
    grid-column: span 4;
    justify-self: center;
    align-self: center;
    font-size: 3.5vw;
}
.github-link {
    grid-column: span 4;
    align-self: center;
    justify-self: center;
    font-size: 2.5vw;
}
.project-1, .project-2, .project-3, .project-4 {
    grid-column: span 2;
    border: solid 4px;
    border-color: teal;
    border-radius: 20%;
    padding: 10vw 5vw;
    width: 8vw;
    background-color: whitesmoke;
    margin: 1vw;
    margin-top: 0;
    justify-self: start;
    text-align: center;

}



 
@media screen and (max-width: 1580px) {
    main.homepage {
        right: 6vw;
    }
    .role {
        font-size: 4.5vh;
    }
    .contact {
        right: 1.5vh
    }
    .name {
        margin-right: 5vh;
    }
    .projects-grid {
        top: 1vh;
        padding: 10vw 3vw;
    }
}
@media screen and (max-width: 1380px) {
    .projects-grid {
        display: flex;
        flex-direction: column;
        align-content: center;
        text-align: center;
        top: 5vh;
        right: 5vw;
        width: 40vw;
    }
    .projects-title, .github-link {
        position: relative;
        right: 4vw;
    }
    .project-1, .project-2, .project-3, .project-4  {
        width: 20vw;
    }
}
@media screen and (max-width: 1025px) {
    .name {
    margin-right: 2vh;
    }
    body {
        background-image: url("/images/background-rotated.jpg");
    }
    .bio {
        left: 9vw;
        width: 70vw;
    }
    .background {
        font-size: 4vw;
    }
    .top-nav {
        background-color: #cbd0d6;
        border-radius: 2%;
    }
    .projects-grid {
        top: 80vw;
        right: 23vw;
        transform: scale(1.8);
        height: 80%
    }
    .project-1, .project-2, .project-3, .project-4  {
        height: 20vw;
    }
}
@media screen and (max-width: 469px) {
    .role {
        position: absolute;
        right: 4vh;
        top: 8vh
    }
    .about {
        left: 4vh;
    }
   /* cannot find a  way to center elements while in mobile mode*/

}



